<div class="table-row">
  <div class="item-title cell">
    <%= link_to language.title, edit_admin_language_path(language) %>
  </div>
  <div class="item-destroy">
    <%= link_to 'Delete', admin_language_path(language), method: :delete, data: { confirm: "Are you sure?" }  %>
  </div>
</div>
