<div class="dashboard-left">
  <div class="input-field">
    <%= f.label :from, 'From' %>
    <%= f.text_field :from, placeholder: '/original/path' %>
  </div>

  <div class="input-field">
    <%= f.label :to, 'To' %>
    <%= f.text_field :to, placeholder: '/new/path or https://new.url.com' %>
  </div>
</div>
