<div class="toolbar">
  <h1 class="title">Redirects</h1>
  <div></div>
  <%= link_to 'New Redirect', new_admin_redirect_path, class: 'button button-solid is-green' %>
</div>

<div class="table">
  <%= render partial: 'admin/redirects/redirect', collection: @redirects %>
</div>
