$green-light-ultra: #e4ebda;
$green-light: #c2d2ac;
$green: #779b47;
$green-dark: #174e20;
$greenie: #5d9442;
$brown-light: #beada0;
$brown: #967964;
$brown-dark: #634430;

$red-light-ultra: #e4c1c1; 
$red-light: #ad3a30; 
$red: #882d24;
$red-dark: #4f1b1b;
$some-other-red: #923638;

$orange: #e55a24;
$orange-light:#fe795e;
$orange-light-ultra: #ffbdb0;

$tan: #f7f0e5;
$tranparent-shadow: rgba(0,0,0,0.33);

$white: #fff;
/*
$dark-blue: #2c3e50;
*/
$blue-green: #008472;
$dark-green: #006557;
$medium-green: #389239;
$leaf-green: #5AB846;
$yellow-green: #D6DE29;
$yellow: #FFF100;
$light-gray: #d3d3d3;
$light-green: #cedb28;

$light-orange: #fbb040;
$dark-orange: #e46c25;
$dark-gray: #555555;
$dark-blue: #2e4f6d;
$light-blue: #9dd9dd;
$light-yellow: #ffde17;