<div class="table-row">
  <div class="item-title cell">
    <%= link_to topic.title, edit_admin_topic_path(topic) %>
  </div>
  <div class="item-destroy">
    <%= link_to 'Delete', admin_topic_path(topic), method: :delete, data: { confirm: "Are you sure?" }  %>
  </div>
</div>
