<div class="search">
  <input type="text" class="search-input" placeholder="Search the LandWise Library" />
  <button type="button" class="search-button button button-solid is-green">Search</button>
</div>

<div class="results">
  <%= render partial: 'records/record', collection: @search.results %>
</div>
