<div class="paging">
  <%= will_paginate @search.hits, previous_label: '&nbsp;', next_label: '&nbsp;', link_separator: '', inner_window: 1, outer_window: 1 %>
</div>

<div class="results">
  <%= render partial: 'records/record', collection: @search.results %>
</div>

<div class="paging bottom">
  <%= will_paginate @search.hits, previous_label: '&nbsp;', next_label: '&nbsp;', link_separator: '', inner_window: 1, outer_window: 1 %>
</div>
