<div class="table-row">
  <div class="item-title cell">
    <%= link_to link.url, admin_link_path(link) %> (<%= link_to "Edit #{link.resource.class.name.titleize}", link.resource.admin_path %>)
  </div>
  <div class="item-code">
    <%= "#{http_status_label(link.code)} (#{link.code})" %>
  </div>
</div>
