<div class="toolbar">
  <h1 class="title">Broken Links</h1>
  <div></div>
</div>

<% if @links.any? %>
<table class="table">
  <tr class="header">
    <th>URL</th>
    <th>Original Scan</th>
    <th>Last Scanned</th>
    <th>Result</th>
    <th></th>
  </tr>
  <%= render partial: 'admin/links/link', collection: @links %>
</table>
<% end %>
