<%= form_with model: [:admin, @country], local: true do |f| %>
<div class="dashboard">
  <div class="toolbar dashboard-toolbar">
    <div class="nav">
      <%= render_breadcrumbs %> / <span>New Country</span>
    </div>
    <div></div>
    <%= f.submit 'Save', class: 'button button-solid is-green' %>
  </div>

  <div class="dashboard-form">
    <%= render partial: 'admin/countries/form', locals: { f: f } %>
  </div>
</div>
<% end %>
