<div class="flex-center">
  <div class="error-wrapper">
    <h1 class="error-status">500</h1>
    <h1 class="error-heading">Sorry! That's Our Bad</h1>
    <p class="error-text">It means something we did went terribly wrong. Fear not however, someone has been notified of the problem and is hastily working to fix it. We sincerely apologize for the interruption.</p>
    <%= link_to 'Take Me Back', :back, class: 'button button-massive button-ghost is-green error-button' %>
  </div>
</div>
