<div class="flex-center">
  <div class="error-wrapper">
    <h1 class="error-status">404</h1>
    <h1 class="error-heading">Looks like We've Misplaced Something</h1>
    <p class="error-text">The page you're looking for is not here. Perhaps it was moved, or it may never have been here in the first place. In either case, we sincerely apologize for having sent you on a wild goose chase.</p>
    <%= link_to 'Take Me Back', :back, class: 'button button-massive button-ghost is-green error-button' %>
  </div>
</div>
