<div class="flex-center">
  <div class="error-wrapper">
    <h1 class="error-status">401</h1>
    <h1 class="error-heading">You are not permitted to view this page</h1>
    <p class="error-text">If you believe you have arrived here in error, please contact Landwise at <%= mail_to 'info@resourceequity.org' %></p>
    <%= link_to 'Take Me Back', :back, class: 'button button-massive button-ghost is-green error-button' %>
  </div>
</div>
