<div class="flex-center">
  <div class="error-wrapper">
    <h1 class="error-status">422</h1>
    <h1 class="error-heading">We Couldn't Process Your Request</h1>
    <p class="error-text">Usually this means we received something we didn't understand. If you just filled out a form, you could go back and check for missing fields and try submitting again. If that doesn't work, feel confident that someone was alerted that you landed on this page and will soon be debugging what happened.</p>
    <%= link_to 'Take Me Back', :back, class: 'button button-massive button-ghost is-green error-button' %>
  </div>
</div>
