$white: #fff;
$navy-blue: #2e4f6d;
$yellow: #ffde17;
$green: #008472;
$sky-blue: #caeaec; // #9dd9dd;
$medium-gray: #555;
$light-gray: #e5e5e5;
$faint-gray: #f6f6f6;
$red: #bf4040;
$flash-red: #fcd7cf;
$flash-green: #b1cec4;
$flash-yellow: #ffecc3;
$base-color: $navy-blue;
