.list {
  padding: 2rem;
}

.authors {
  margin: 2.5rem 0 3rem;
  padding-bottom: 3.5rem;
  border-bottom: 2px solid $light-gray;
}

.authors li {
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}
