.table {
  width: 100%;
}

.table .header {
  text-align: left;
  background-color: $white;
}

.table .header th {
  padding: 1.5rem 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.table .row {
  &:nth-child(even) {
    background-color: $faint-gray;
  }
  &:nth-child(odd) {
    background-color: $light-gray;
  }
}

.table .row td {
  padding: 1.5rem 2rem;
  white-space: nowrap;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-row {
  display: grid;
  height: 50px;
  grid-template-columns: auto min-content min-content min-content min-content;
  grid-gap: 2rem 2rem;
  align-items: center;

  &:nth-child(even) {
    background-color: $faint-gray;
  }
  &:nth-child(odd) {
    background-color: $light-gray;
  }
}

.table-row .cell {
  position: relative;
  padding: 1rem 2rem;
}

.table-row .cell:hover .tooltip {
  top: 100%;
  opacity: 1;
}

.table-row .cell .tooltip {
  line-height: 1.4;
  position: absolute;
  z-index: 101;
  top: 80%;
  right: 0;
  width: 300px;
  padding: 1.5rem;
  transition: top 250ms ease-out, opacity 250ms ease-out;
  pointer-events: none;
  opacity: 0;
  color: $white;
  background-color: $green;

  &::after {
    position: absolute;
    right: 1.2rem;
    bottom: 100%;
    width: 0;
    height: 0;
    margin-left: -30px;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 8px;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $green;
  }
}

.table-row .cell a,
.table .row a {
  text-decoration: none;
  color: $green;

  &:hover {
    text-decoration: underline;
  }
}

.table-row .item-check {
  position: relative;
  padding-left: 2rem;
}

.table-row .item-check label {
  top: -3px;
}

.table-row .item-progress,
.table-row .item-status {
  width: 120px;
  text-align: right;
  white-space: nowrap;
}

.table-row .item-status {
  padding-right: 2rem;
}

.table-row .item-status .pending {
  color: saturate(darken($flash-yellow, 35%), 10%);
}

.table-row .item-status .complete {
  color: saturate(darken($flash-green, 35%), 10%);
}

.table-row .item-status .errors {
  color: saturate(darken($flash-red, 35%), 10%);
}

.table-row .item-created,
.table-row .item-updated {
  display: inline-block;
}

.table-row .item-code {
  text-align: right;
  white-space: nowrap;
}

.table-row .item-edit a,
.table-row .item-destroy a,
.table .row .item-destroy a {
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.table-row .item-locked {
  width: 25px;
  height: 100%;
  background-image: asset-url('lock.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
}

.table-row .item-destroy {
  padding-right: 2rem;
}

.table-row .item-edit a {
  color: $green;
}

.table-row .item-destroy a,
.table .row .item-destroy a {
  color: $red;
}
