.wysiwyg * {
  &:last-child {
    margin-bottom: 0;
  }
}

.wysiwyg p {
  margin-bottom: 1rem;
}

.wysiwyg ol,
.wysiwyg ul {
  margin: 0 0 1rem;
  padding-left: 1rem;
}

.wysiwyg ol {
  list-style: decimal outside none;
}

.wysiwyg ul {
  list-style: disc outside none;
}

.wysiwyg ol ol,
.wysiwyg ul ul,
.wysiwyg ul ol,
.wysiwyg ol ul {
  margin: .5rem 0 .5rem 1rem;
}

.wysiwyg li {
  margin-bottom: .5rem;
}

.wysiwyg strong {
  font-weight: bold;
}

.wysiwyg i {
  font-style: italic;
}

.wysiwyg a {
  color: $green;
}

.wysiwyg img {
  display: block;
}

.wysiwyg table {
  margin: 0 0 1.5rem;
  border-spacing: 0;
  border-collapse: collapse;
}

.wysiwyg table th,
.wysiwyg table td {
  padding: 1rem 2rem;
}

.wysiwyg table,
.wysiwyg th,
.wysiwyg td {
  text-align: left;
  border: 1px solid $light-gray;
}

.wysiwyg table tbody tr:first-child td,
.wysiwyg table th {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  white-space: nowrap;
  text-transform: uppercase;
  color: $white;
  background-color: $navy-blue;
}

.wysiwyg blockquote {
  margin: 0 0 1rem;
  padding: 1.5rem;
  border-left: 3px solid $green;
  background-color: $faint-gray;
}

.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
  font-family: $serif;
  font-weight: bold;
  line-height: 1.45;
  margin: 0 0 1rem;
}

.wysiwyg h1 {
  font-size: 2.5rem;
}
.wysiwyg h2 {
  font-size: 2.2rem;
}
.wysiwyg h3 {
  font-size: 1.8rem;
}
.wysiwyg h4 {
  font-size: 1.6rem;
}
.wysiwyg h5,
.wysiwyg h6 {
  font-size: 1.5rem;
}
