.text-field {
  display: block;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-field label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.text-field input {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  padding: .5rem;
  border: 0;
  background-color: $white;
}

.text-field .required {
  color: #d30000;
}

.text-field .error {
  font-size: 13px;
  color: #d30000;
  line-height: 2;
}

.input-field {
  margin-bottom: 2rem;
}

.input-field label {
  display: block;
  margin-bottom: .5rem;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  &:focus {
    outline: none;
  }
}

.input-field input[type='text'],
.input-field input[type='email'],
.input-field input[type='password'] {
  font-size: 1.5rem;
  width: 100%;
  padding: 1.5rem;
  transition: background-color 250ms ease-out;
  border: 0;
  border-radius: 3px;
  outline: none;
  background-color: $faint-gray;

  &:focus {
    background-color: $light-gray;
  }
}

.input-field .toggle-visibility {
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 0.5rem;
  float: right;
}
