.masthead {
  position: relative;
  z-index: 2;
  display: grid;
  border-bottom: 1px solid $light-gray;
  grid-template-columns: 230px auto min-content;
  grid-template-rows: auto 40px;
  grid-template-areas: 'logo links translate' 'logo nav nav';
}

.main-logo {
  padding: 1.5rem;
  grid-area: logo;

  img {
    display: block;
    width: 100%;
  }
}

.links {
  font-size: 0;
  padding: 1.5rem 0;
  text-align: right;
}

.links a {
  font-size: 1.5rem;
  line-height: 22px;
  display: inline-block;
  margin-right: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  color: $green;
  border-right: 1px solid $light-gray;

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }
}

.google-translate {
  padding: 1.5rem;
  text-align: right;
  grid-area: translate;
}

.google-translate .select {
  display: inline-block;
}

.google-translate .goog-te-gadget-simple {
  border: 0;
}

.goog-te-gadget-simple .goog-te-menu-value span {
  font-family: $sans-serif;
  font-size: 1.3rem;
  line-height: 22px;
  text-transform: uppercase;
  color: $medium-gray;
}

.goog-te-menu-frame.goog-te-menu-frame {
  max-width: 90%;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .3);
}

.main-nav {
  text-align: right;
  grid-area: nav;
}

.main-nav a {
  font-family: $sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $medium-gray;
}

.main-nav ul {
  font-size: 0;
  list-style-type: none;
}

.main-nav ul > li {
  display: inline-block;
}

.main-nav .submenu {
  text-align: left;
  background-color: $white;
}

.main-nav .submenu a {
  display: block;
  padding: 1rem 1.5rem;
  transition: color 300ms ease-in-out;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $green;
  }
}

.main-nav .nav-link {
  position: relative;
  transition: filter 250ms ease-out;
}

.main-nav .nav-link > a {
  display: inline-block;
  padding: 1rem 1.5rem;
  transition: background-color 300ms ease-out, color 300ms ease-out;
}

.main-nav .nav-link > ul {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  overflow: hidden;
  max-height: 0;
  margin-top: -1px;
  transition: max-height 250ms ease-out;
}

.main-nav .nav-link:hover {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, .2));
}

.main-nav .nav-link:hover > a {
  text-decoration: underline;
}

.main-nav .nav-link.with-submenu:hover > a {
  color: $white;
  background-color: $green;
}

.main-nav .nav-link.with-submenu:hover > ul {
  max-height: 90px;
}

@media only screen and (max-width: 800px) {
  .masthead {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'logo logo' 'links translate' 'nav nav';
    grid-gap: 1rem 2rem;
    align-items: center;
  }

  .main-logo {
    padding: 1.5rem 0 0;
  }

  .main-logo img {
    width: auto;
    max-width: 100%;
    height: 75px;
    margin: 0 auto;
  }

  .links,
  .google-translate {
    padding: 0;
  }

  .links {
    padding: 1.5rem;
  }

  .google-translate {
    text-align: left;
  }

  .main-nav {
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .masthead {
    grid-template-columns: auto min-content;
    grid-template-areas: 'logo links' 'logo translate' 'nav nav';
    grid-auto-rows: min-content;
    grid-gap: 1rem 1rem;
    align-items: flex-start;
  }

  .main-logo {
    padding: 1.5rem 0 0 1.5rem;
  }

  .main-logo img {
    height: auto;
  }

  .links {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  .links,
  .google-translate {
    padding-right: 1.5rem;
    text-align: right;
    white-space: nowrap;
  }
}
