@import 'modules/colors';
@import 'modules/fonts';

@import 'partials/reset';
@import 'partials/utility';
@import 'partials/typography';
@import 'partials/skeleton';

@import 'partials/guides';
@import 'partials/articles';

.app {
  width: 100%;
  max-width: 100%;
  box-shadow: none;
}

.article-section ul ul {
  margin: 1rem 0;
  list-style-type: circle;
}

.article-title {
  font-size: 1.8rem;
  margin: 2rem 0;
  page-break-before: always;
}

.article-section:last-child {
  margin-bottom: 0;
}
