<!DOCTYPE html>
<html>
  <head>
    <title>LandWise from Resource Equity</title>
    <%= stylesheet_link_tag 'pdf', media: :all %>
  </head>

  <body>
    <div class="app">
      <%= yield %>
    </div>
  </body>
</html>
