<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= stylesheet_link_tag 'mailer' %>
    <div class="mail-wrapper">
      <div class="mail-content">
        <div class="logo">
          <%= image_tag 'logo-large.png' %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
